openapi: 3.0.3

info:
  title: Keel Telemetry API
  version: 0.1.0
  description: |
    Keel provides a canonical telemetry API for maritime performance vendors.

    ## Core idea
    Telemetry is addressed using a canonical identity:

    **(vessel_imo, system_id, signal_id, timestamp)**

    - **vessel_imo**: IMO number of the vessel (7 digits; provided as a string)
    - **system_id**: equipment instance identifier (e.g. `engine:main:1`)
    - **signal_id**: canonical measurement identifier (e.g. `engine.rotational_speed`)
    - **timestamp**: UTC timestamp (ISO-8601)

    ## Versioning
    This API follows semantic versioning. Breaking changes occur only on major version bumps.

externalDocs:
  description: Telemetry API overview (concepts + quickstart)
  url: https://www.usekeel.app/telemetry-api

servers:
  - url: https://api.usekeel.app

tags:
  - name: Getting Started
    description: |
      The fastest path to value:
      1) List systems on a vessel
      2) Browse the canonical signal catalog
      3) Query time series
      4) Check limits
  - name: Catalog
    description: Canonical signal catalog (quantities, units, and dimensions).
  - name: Systems
    description: Vessel-specific system instances (e.g. `engine:main:1`).
  - name: Telemetry
    description: Query and ingest canonical telemetry.
  - name: Limits
    description: Hard limits and capability flags.

paths:
  /v1/signals:
    get:
      operationId: listSignals
      tags: [Getting Started, Catalog]
      summary: List canonical signals
      description: |
        Returns the global canonical signal catalog.

        **Use cases**
        - Find available canonical signals
        - Understand units (`default_unit`, `allowed_units`) and quantity
        - Discover indexed signals via templates (dimensions)

        **Filtering**
        - Use `prefix` to filter by domain (e.g. `engine.` or `vessel.`).

        **Indexed signals**
        - Indexed signals are expressed as templates with dimensions, e.g.:
          `engine.exhaust.temperature.cylinder.{cylinder}`.
      parameters:
        - $ref: "#/components/parameters/Prefix"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A list of canonical signals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignalListResponse"
              examples:
                signals:
                  $ref: "#/components/examples/SignalListExample"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/vessels/{vessel_imo}/systems:
    get:
      operationId: listVesselSystems
      tags: [Getting Started, Systems]
      summary: List systems on a vessel
      description: |
        Returns the systems (equipment instances) available on a vessel.

        **What is a system?**
        A `system_id` identifies a specific equipment instance, for example:
        - `engine:main:1`
        - `engine:gen:2`

        Use `system_id` + `signal_id` when querying telemetry time series.
      parameters:
        - $ref: "#/components/parameters/VesselImoPath"
      responses:
        "200":
          description: Systems for the vessel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemListResponse"
              examples:
                systems:
                  $ref: "#/components/examples/SystemListExample"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/telemetry/timeseries:
    post:
      operationId: queryTimeseries
      tags: [Getting Started, Telemetry]
      summary: Query telemetry time series
      description: |
        Query one or more canonical telemetry series for a time range.

        **Required**
        - `start_time`, `end_time`
        - `targets`

        **Optional**
        - `downsample.interval`: ISO-8601 duration (e.g. `PT1M`, `PT5M`, `PT1H`, `P1D`)
        - `units`: per-signal UCUM unit overrides
        - `include`: optional extras (`provenance` only in v0.1)

        **Downsampling**
        - Buckets are aligned to UTC boundaries.
        - When provided, the API returns at most one point per bucket.

        **Notes**
        - Aggregations (avg/min/max/etc.) may be added in a future version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimeseriesQueryRequest"
            examples:
              queryRpm:
                $ref: "#/components/examples/TimeseriesQueryExample"
      responses:
        "200":
          description: Time series for requested targets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeseriesQueryResponse"
              examples:
                timeseries:
                  $ref: "#/components/examples/TimeseriesQueryResponseExample"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/telemetry/ingest:
    post:
      operationId: ingestTelemetry
      tags: [Telemetry]
      summary: Ingest canonical telemetry points (upsert)
      description: |
        Ingest telemetry using Keel's canonical conventions (`system_id` + `signal_id`).

        Telemetry points are uniquely identified by:
        **(vessel_imo, system_id, signal_id, timestamp)**

        **Upsert semantics**
        - If a point is ingested again with the same identity, the latest write wins.
        - Keel retains internal audit history of changes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestRequest"
            examples:
              ingest:
                $ref: "#/components/examples/IngestRequestExample"
      responses:
        "200":
          description: Ingestion acceptance summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestResponse"
              examples:
                ingestOk:
                  $ref: "#/components/examples/IngestResponseExample"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/limits:
    get:
      operationId: getLimits
      tags: [Getting Started, Limits]
      summary: Get API limits and capabilities
      description: |
        Returns hard limits and capability flags so clients can adapt without hardcoding.

        Use this endpoint to:
        - Understand request and response bounds
        - Detect supported features (e.g., downsampling)
      responses:
        "200":
          description: Limits and capability flags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LimitsResponse"
              examples:
                limits:
                  $ref: "#/components/examples/LimitsExample"
        default:
          $ref: "#/components/responses/ErrorResponse"

components:
  parameters:
    VesselImoPath:
      name: vessel_imo
      in: path
      required: true
      description: |
        IMO number of the vessel (7 digits), provided as a string.
        Example: `98XXXXX`
      schema:
        type: string
        pattern: "^[0-9X]{7}$"
      example: "98XXXXX"

    Prefix:
      name: prefix
      in: query
      required: false
      description: Only return signals whose `signal_id` starts with this prefix.
      schema:
        type: string
      example: "engine."

    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 5000
        default: 500
      description: Maximum number of records to return.

    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Optional cursor for pagination (implementation-defined).

  responses:
    ErrorResponse:
      description: Structured error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            tooManyPoints:
              $ref: "#/components/examples/ErrorTooManyPoints"

  examples:
    SignalListExample:
      summary: Example signal catalog subset
      value:
        signals:
          - signal_id: engine.rotational_speed
            description: Engine crankshaft rotational speed.
            quantity: rotational_speed
            default_unit: rpm
            allowed_units: [rpm]
            scope:
              requires_system: true
              applicable_system_types: [ENGINE]
          - signal_id: engine.exhaust.temperature.cylinder.{cylinder}
            description: Exhaust gas temperature at cylinder outlet.
            quantity: temperature
            default_unit: Cel
            allowed_units: [Cel, "[degF]", K]
            scope:
              requires_system: true
              applicable_system_types: [ENGINE]
            dimensions:
              cylinder:
                type: integer
                minimum: 1
                maximum_from_system_metadata: cylinder_count
        next_cursor: null

    SystemListExample:
      summary: Example vessel systems
      value:
        vessel_imo: "98XXXXX"
        systems:
          - system_id: engine:main:1
            system_type: ENGINE
            role: MAIN
            label: ME1
            metadata:
              cylinder_count: 6
              mcr_kw: 9800
          - system_id: engine:gen:1
            system_type: ENGINE
            role: GENERATOR
            label: DG1
            metadata: {}

    TimeseriesQueryExample:
      summary: Query main engine RPM at 1-minute resolution
      value:
        start_time: "2026-02-01T00:00:00Z"
        end_time: "2026-02-01T06:00:00Z"
        targets:
          - vessel_imo: "98XXXXX"
            system_id: engine:main:1
            signal_id: engine.rotational_speed
        downsample:
          interval: PT1M
        include: [provenance]

    TimeseriesQueryResponseExample:
      summary: Example time series response
      value:
        series:
          - target:
              vessel_imo: "98XXXXX"
              system_id: engine:main:1
              signal_id: engine.rotational_speed
            quantity: rotational_speed
            unit: rpm
            points:
              - timestamp: "2026-02-01T00:00:00Z"
                value: 645
                provenance:
                  provider: ams
                  raw_tag: ME_RPM
                  mapping_version: 3
              - timestamp: "2026-02-01T00:01:00Z"
                value: 650
                provenance:
                  provider: ams
                  raw_tag: ME_RPM
                  mapping_version: 3

    IngestRequestExample:
      summary: Ingest canonical telemetry (upsert)
      value:
        vessel_imo: "98XXXXX"
        points:
          - timestamp: "2026-02-01T00:00:00Z"
            system_id: engine:main:1
            signal_id: engine.rotational_speed
            value: 650
          - timestamp: "2026-02-01T00:00:00Z"
            system_id: engine:main:1
            signal_id: engine.exhaust.temperature.cylinder.1
            value: 410.2

    IngestResponseExample:
      summary: Example ingest response
      value:
        accepted: 2
        inserted: 2
        updated: 0
        rejected: 0
        errors: []

    LimitsExample:
      summary: Example limits response
      value:
        telemetry_timeseries:
          max_targets_per_request: 50
          max_points_per_series: 10000
          max_total_points_per_response: 200000
          max_time_range: P90D
          downsample:
            supported: true
            aggregation_supported: false
            bucket_alignment: UTC

    ErrorTooManyPoints:
      summary: Too many points requested
      value:
        error_code: TOO_MANY_POINTS
        message: Requested range would return more than the allowed maximum of 10000 points per series.
        details:
          max_points_per_series: 10000
          suggested_downsample_interval: PT5M

  schemas:
    # ---------- Common ----------
    Error:
      type: object
      required: [error_code, message]
      properties:
        error_code:
          type: string
          example: TOO_MANY_POINTS
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    Quantity:
      type: string
      description: A small taxonomy of physical quantity categories.
      enum:
        - temperature
        - pressure
        - rotational_speed
        - length
        - boolean_state
        - vibration
        - power
        - mass_flow
        - volume_flow

    SignalScope:
      type: object
      required: [requires_system]
      properties:
        requires_system:
          type: boolean
          description: If true, telemetry queries must include a `system_id`.
        applicable_system_types:
          type: array
          items:
            type: string
          description: Optional list of system types this signal applies to (e.g. ENGINE).

    DimensionDefinitionMap:
      type: object
      description: Dimension definitions keyed by dimension name.
      additionalProperties:
        type: object
        properties:
          type:
            type: string
            enum: [integer]
          minimum:
            type: integer
          maximum:
            type: integer
          maximum_from_system_metadata:
            type: string
            description: |
              If provided, indicates the max is derived from a field in the system metadata
              (e.g. `cylinder_count`).

    SignalDefinition:
      type: object
      required: [signal_id, description, quantity, default_unit, allowed_units, scope]
      properties:
        signal_id:
          type: string
          description: |
            Canonical signal identifier.

            Indexed signals are expressed as templates in the catalog, e.g.:
            `engine.exhaust.temperature.cylinder.{cylinder}`
        description:
          type: string
        quantity:
          $ref: "#/components/schemas/Quantity"
        default_unit:
          type: string
          description: UCUM unit code returned when no unit override is specified.
          example: Cel
        allowed_units:
          type: array
          items:
            type: string
          description: UCUM unit codes allowed to be requested.
          example: [Cel, "[degF]", K]
        scope:
          $ref: "#/components/schemas/SignalScope"
        dimensions:
          $ref: "#/components/schemas/DimensionDefinitionMap"

    SignalListResponse:
      type: object
      required: [signals]
      properties:
        signals:
          type: array
          items:
            $ref: "#/components/schemas/SignalDefinition"
        next_cursor:
          type: string
          nullable: true

    # ---------- Systems ----------
    SystemType:
      type: string
      enum: [ENGINE, BOILER, SCRUBBER, OTHER]

    SystemRole:
      type: string
      enum: [MAIN, GENERATOR, AUXILIARY, UNKNOWN]

    System:
      type: object
      required: [system_id, system_type, label, metadata]
      properties:
        system_id:
          type: string
          description: Structured system instance identifier.
          example: engine:main:1
        system_type:
          $ref: "#/components/schemas/SystemType"
        role:
          $ref: "#/components/schemas/SystemRole"
        label:
          type: string
          example: ME1
        metadata:
          type: object
          additionalProperties: true
          description: System metadata (e.g. `cylinder_count` for engines).

    SystemListResponse:
      type: object
      required: [vessel_imo, systems]
      properties:
        vessel_imo:
          type: string
          description: IMO number of the vessel (7 digits), provided as a string.
          example: "98XXXXX"
        systems:
          type: array
          items:
            $ref: "#/components/schemas/System"

    # ---------- Telemetry Query ----------
    TelemetryTarget:
      type: object
      description: |
        A canonical telemetry target.

        Telemetry identity is:
        **(vessel_imo, system_id, signal_id, timestamp)**.
      required: [vessel_imo, signal_id]
      properties:
        vessel_imo:
          type: string
          description: IMO number of the vessel (7 digits), provided as a string.
          example: "98XXXXX"
        system_id:
          type: string
          nullable: true
          description: Required when querying a signal whose catalog entry has `scope.requires_system=true`.
          example: engine:main:1
        signal_id:
          type: string
          description: |
            Concrete signal identifier used in queries (expanded indices),
            e.g. `engine.exhaust.temperature.cylinder.1`.
          example: engine.rotational_speed

    Downsample:
      type: object
      description: Optional downsampling configuration.
      properties:
        interval:
          type: string
          description: |
            ISO-8601 duration string defining the bucket interval.

            Examples:
            - `PT1M` (1 minute)
            - `PT5M` (5 minutes)
            - `PT1H` (1 hour)
            - `P1D` (1 day)

            Buckets are aligned to UTC boundaries. When provided, the API returns
            at most one data point per interval bucket.

            Aggregation methods may be added in a future version.
          example: PT1M

    TimeseriesQueryRequest:
      type: object
      required: [start_time, end_time, targets]
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        targets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/TelemetryTarget"
        downsample:
          $ref: "#/components/schemas/Downsample"
        units:
          type: object
          description: Per-signal unit overrides (UCUM codes). Keys are signal_id strings from targets.
          additionalProperties:
            type: string
          example:
            engine.exhaust.temperature.cylinder.1: Cel
        include:
          type: array
          description: Optional extras to include per point. v0.1 supports only `provenance`.
          items:
            type: string
            enum: [provenance]

    Provenance:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          description: Source provider identifier.
          example: ams
        raw_tag:
          type: string
          nullable: true
          example: ME_RPM
        mapping_version:
          type: integer
          nullable: true
          example: 3

    TimeseriesPoint:
      type: object
      required: [timestamp, value]
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          description: Telemetry value. v0.1 supports number and boolean.
          oneOf:
            - type: number
            - type: boolean
        provenance:
          $ref: "#/components/schemas/Provenance"

    TimeseriesSeries:
      type: object
      required: [target, unit, points]
      properties:
        target:
          $ref: "#/components/schemas/TelemetryTarget"
        quantity:
          $ref: "#/components/schemas/Quantity"
        unit:
          type: string
          description: UCUM unit code used in this response series.
        points:
          type: array
          items:
            $ref: "#/components/schemas/TimeseriesPoint"

    TimeseriesQueryResponse:
      type: object
      required: [series]
      properties:
        series:
          type: array
          items:
            $ref: "#/components/schemas/TimeseriesSeries"

    # ---------- Telemetry Ingest ----------
    IngestPoint:
      type: object
      required: [timestamp, system_id, signal_id, value]
      properties:
        timestamp:
          type: string
          format: date-time
        system_id:
          type: string
          example: engine:main:1
        signal_id:
          type: string
          description: Concrete signal identifier (expanded indices).
          example: engine.rotational_speed
        value:
          oneOf:
            - type: number
            - type: boolean

    IngestRequest:
      type: object
      required: [vessel_imo, points]
      properties:
        vessel_imo:
          type: string
          description: IMO number of the vessel (7 digits), provided as a string.
          example: "98XXXXX"
        points:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/IngestPoint"

    IngestError:
      type: object
      required: [index, error_code, message]
      properties:
        index:
          type: integer
          description: Index of the point in the request's points array.
        error_code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    IngestResponse:
      type: object
      required: [accepted, inserted, updated, rejected, errors]
      properties:
        accepted:
          type: integer
        inserted:
          type: integer
        updated:
          type: integer
        rejected:
          type: integer
        errors:
          type: array
          items:
            $ref: "#/components/schemas/IngestError"

    # ---------- Limits ----------
    DownsampleCapabilities:
      type: object
      required: [supported, aggregation_supported, bucket_alignment]
      properties:
        supported:
          type: boolean
        aggregation_supported:
          type: boolean
        bucket_alignment:
          type: string
          enum: [UTC]

    TelemetryTimeseriesLimits:
      type: object
      required: [max_targets_per_request, max_points_per_series, max_total_points_per_response, max_time_range, downsample]
      properties:
        max_targets_per_request:
          type: integer
        max_points_per_series:
          type: integer
        max_total_points_per_response:
          type: integer
        max_time_range:
          type: string
          description: ISO-8601 duration string representing maximum allowed query range.
          example: P90D
        downsample:
          $ref: "#/components/schemas/DownsampleCapabilities"

    LimitsResponse:
      type: object
      required: [telemetry_timeseries]
      properties:
        telemetry_timeseries:
          $ref: "#/components/schemas/TelemetryTimeseriesLimits"
