openapi: 3.0.3
info:
  title: Keel Telemetry API
  version: 0.1.0
  description: >
    A canonical telemetry API for maritime performance vendors. Query and ingest vessel telemetry
    using Keel's signal catalog, system model, and conventions.

servers:
  - url: https://api.usekeel.app

tags:
  - name: Catalog
  - name: Systems
  - name: Telemetry
  - name: Limits

paths:
  /v1/signals:
    get:
      tags: [Catalog]
      summary: List canonical signals
      description: >
        Returns the global canonical signal catalog. Use `prefix` to filter by domain (e.g. `engine.` or `vessel.`).
        Indexed signals are expressed as templates with dimensions (e.g. `engine.exhaust.temperature.cylinder.{cylinder}`).
      parameters:
        - name: prefix
          in: query
          required: false
          schema:
            type: string
          example: engine.
          description: Only return signals whose `signal_id` starts with this prefix.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5000
            default: 500
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Optional cursor for pagination (implementation-defined).
      responses:
        "200":
          description: A list of canonical signals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignalListResponse"
              examples:
                example:
                  value:
                    signals:
                      - signal_id: engine.rotational_speed
                        description: Engine crankshaft rotational speed.
                        quantity: rotational_speed
                        default_unit: rpm
                        allowed_units: [rpm]
                        scope:
                          requires_system: true
                          applicable_system_types: [ENGINE]
                      - signal_id: engine.exhaust.temperature.cylinder.{cylinder}
                        description: Exhaust gas temperature at cylinder outlet.
                        quantity: temperature
                        default_unit: Cel
                        allowed_units: [Cel, "[degF]", K]
                        scope:
                          requires_system: true
                          applicable_system_types: [ENGINE]
                        dimensions:
                          cylinder:
                            type: integer
                            minimum: 1
                            maximum_from_system_metadata: cylinder_count
                    next_cursor: null
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/vessels/{vessel_imo}/systems:
    get:
      tags: [Systems]
      summary: List systems on a vessel
      description: >
        Returns the systems (instances) available on a vessel. A `system_id` identifies a specific
        instance (e.g. `engine:main:1`). Use `system_id` + `signal_id` when querying telemetry.
      parameters:
        - name: vessel_imo
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Systems for the vessel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemListResponse"
              examples:
                example:
                  value:
                    vessel_imo: V1
                    systems:
                      - system_id: engine:main:1
                        system_type: ENGINE
                        role: MAIN
                        label: ME1
                        metadata:
                          cylinder_count: 6
                          mcr_kw: 9800
                      - system_id: engine:gen:1
                        system_type: ENGINE
                        role: GENERATOR
                        label: DG1
                        metadata: {}
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/telemetry/timeseries:
    post:
      tags: [Telemetry]
      summary: Query historical telemetry time series
      description: >
        Query one or more telemetry series for a time range. Results are bounded by hard limits.

        - `start_time` and `end_time` are required.
        - `targets` is required.
        - `downsample.interval` is optional.
        - `include` currently supports only `provenance` in v0.1.
        - Downsample intervals use ISO-8601 durations (e.g. PT1M, PT5M, PT1H, P1D).
        - Downsample buckets are aligned to UTC boundaries.

        Notes:
        - Aggregation options (average/min/max/etc.) may be added in a future version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimeseriesQueryRequest"
            examples:
              example:
                value:
                  start_time: "2026-02-01T00:00:00Z"
                  end_time: "2026-02-01T06:00:00Z"
                  targets:
                    - vessel_imo: V1
                      system_id: engine:main:1
                      signal_id: engine.rotational_speed
                    - vessel_imo: V1
                      system_id: engine:main:1
                      signal_id: engine.exhaust.temperature.cylinder.1
                  downsample:
                    interval: PT1M
                  units:
                    engine.exhaust.temperature.cylinder.1: Cel
                  include: [provenance]
      responses:
        "200":
          description: Time series data for requested targets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeseriesQueryResponse"
              examples:
                example:
                  value:
                    series:
                      - target:
                          vessel_imo: V1
                          system_id: engine:main:1
                          signal_id: engine.rotational_speed
                        unit: rpm
                        points:
                          - timestamp: "2026-02-01T00:00:00Z"
                            value: 650
                            provenance:
                              provider: ams
                              raw_tag: ME_RPM
                              mapping_version: 3
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/telemetry/ingest:
    post:
      tags: [Telemetry]
      summary: Ingest canonical telemetry points (upsert)
      description: >
        Ingest telemetry using Keel's canonical conventions (system_id + signal_id).
        Points are uniquely identified by (vessel_imo, system_id, signal_id, timestamp).
        If a point is ingested again with the same identity, the latest write wins (upsert).
        Keel retains historical changes internally for audit purposes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestRequest"
            examples:
              example:
                value:
                  vessel_imo: V1
                  points:
                    - timestamp: "2026-02-01T00:00:00Z"
                      system_id: engine:main:1
                      signal_id: engine.rotational_speed
                      value: 650
                    - timestamp: "2026-02-01T00:00:00Z"
                      system_id: engine:main:1
                      signal_id: engine.exhaust.temperature.cylinder.1
                      value: 410.2
      responses:
        "200":
          description: Ingestion acceptance summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestResponse"
              examples:
                example:
                  value:
                    accepted: 2
                    inserted: 2
                    updated: 0
                    rejected: 0
                    errors: []
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/limits:
    get:
      tags: [Limits]
      summary: Get API limits and capabilities
      description: >
        Returns hard limits and capability flags so clients can adapt without hardcoding.
      responses:
        "200":
          description: Limits and capability flags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LimitsResponse"
              examples:
                example:
                  value:
                    telemetry_timeseries:
                      max_targets_per_request: 50
                      max_points_per_series: 10000
                      max_total_points_per_response: 200000
                      max_time_range: P90D
                      downsample:
                        supported: true
                        aggregation_supported: false
                        bucket_alignment: UTC
        default:
          $ref: "#/components/responses/ErrorResponse"

components:
  responses:
    ErrorResponse:
      description: Structured error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    # ---------- Common ----------
    Error:
      type: object
      required: [error_code, message]
      properties:
        error_code:
          type: string
          example: TOO_MANY_POINTS
        message:
          type: string
          example: Requested range would return more than the allowed maximum of 10000 points per series.
        details:
          type: object
          additionalProperties: true
          example:
            max_points_per_series: 10000
            suggested_downsample_interval: PT5M

    Quantity:
      type: string
      description: A small taxonomy of physical quantity categories.
      enum:
        - temperature
        - pressure
        - rotational_speed
        - length
        - boolean_state
        - vibration
        - power
        - mass_flow
        - volume_flow

    SignalScope:
      type: object
      required: [requires_system]
      properties:
        requires_system:
          type: boolean
          description: If true, telemetry queries must include a system_id.
        applicable_system_types:
          type: array
          items:
            type: string
          description: Optional list of system types this signal applies to (e.g. ENGINE).

    DimensionDefinitionMap:
      type: object
      description: Dimension definitions keyed by dimension name.
      additionalProperties:
        type: object
        properties:
          type:
            type: string
            enum: [integer]
          minimum:
            type: integer
          maximum:
            type: integer
          maximum_from_system_metadata:
            type: string
            description: >
              If provided, indicates the max is derived from a field in the system metadata
              (e.g. cylinder_count).

    SignalDefinition:
      type: object
      required:
        - signal_id
        - description
        - quantity
        - default_unit
        - allowed_units
        - scope
      properties:
        signal_id:
          type: string
          description: >
            Canonical signal identifier. Indexed signals are expressed as templates in the catalog,
            e.g. engine.exhaust.temperature.cylinder.{cylinder}.
        description:
          type: string
        quantity:
          $ref: "#/components/schemas/Quantity"
        default_unit:
          type: string
          description: UCUM unit code returned when no unit override is specified.
          example: Cel
        allowed_units:
          type: array
          items:
            type: string
          description: UCUM unit codes allowed to be requested.
          example: [Cel, "[degF]", K]
        scope:
          $ref: "#/components/schemas/SignalScope"
        dimensions:
          $ref: "#/components/schemas/DimensionDefinitionMap"

    SignalListResponse:
      type: object
      required: [signals]
      properties:
        signals:
          type: array
          items:
            $ref: "#/components/schemas/SignalDefinition"
        next_cursor:
          type: string
          nullable: true

    # ---------- Systems ----------
    SystemType:
      type: string
      enum: [ENGINE, BOILER, SCRUBBER, OTHER]

    SystemRole:
      type: string
      enum: [MAIN, GENERATOR, AUXILIARY, UNKNOWN]

    System:
      type: object
      required: [system_id, system_type, label, metadata]
      properties:
        system_id:
          type: string
          description: Structured system instance identifier (public).
          example: engine:main:1
        system_type:
          $ref: "#/components/schemas/SystemType"
        role:
          $ref: "#/components/schemas/SystemRole"
        label:
          type: string
          example: ME1
        metadata:
          type: object
          additionalProperties: true
          description: System metadata (e.g. cylinder_count for engines).

    SystemListResponse:
      type: object
      required: [vessel_imo, systems]
      properties:
        vessel_imo:
          type: string
        systems:
          type: array
          items:
            $ref: "#/components/schemas/System"

    # ---------- Telemetry Query ----------
    TelemetryTarget:
      type: object
      required: [vessel_imo, signal_id]
      properties:
        vessel_imo:
          type: string
        system_id:
          type: string
          nullable: true
          description: Required when querying a signal whose catalog entry has scope.requires_system=true.
          example: engine:main:1
        signal_id:
          type: string
          description: >
            Concrete signal identifier used in queries (expanded indices),
            e.g. engine.exhaust.temperature.cylinder.1.
          example: engine.rotational_speed

    Downsample:
      type: object
      description: Optional downsampling configuration.
      properties:
        interval:
          type: string
          description: >
            ISO-8601 duration string defining the bucket interval. Examples:
            PT1M (1 minute), PT5M (5 minutes), PT1H (1 hour), P1D (1 day).
            Buckets are aligned to UTC boundaries. When provided, the API returns
            at most one data point per interval bucket. Advanced aggregation methods
            may be added in a future version.
          example: PT1M

    TimeseriesQueryRequest:
      type: object
      required: [start_time, end_time, targets]
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        targets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/TelemetryTarget"
        downsample:
          $ref: "#/components/schemas/Downsample"
        units:
          type: object
          description: Per-signal unit overrides (UCUM codes). Keys are signal_id strings from targets.
          additionalProperties:
            type: string
          example:
            engine.exhaust.temperature.cylinder.1: Cel
        include:
          type: array
          description: Optional extras to include per point. v0.1 supports only `provenance`.
          items:
            type: string
            enum: [provenance]

    Provenance:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          description: Source provider identifier.
          example: ams
        raw_tag:
          type: string
          nullable: true
          example: M4.2
        mapping_version:
          type: integer
          nullable: true
          example: 3

    TimeseriesPoint:
      type: object
      required: [timestamp, value]
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          description: Telemetry value. v0.1 supports number and boolean.
          oneOf:
            - type: number
            - type: boolean
        provenance:
          $ref: "#/components/schemas/Provenance"

    TimeseriesSeries:
      type: object
      required: [target, unit, points]
      properties:
        target:
          $ref: "#/components/schemas/TelemetryTarget"
        unit:
          type: string
          description: UCUM unit code used in this response series.
        points:
          type: array
          items:
            $ref: "#/components/schemas/TimeseriesPoint"

    TimeseriesQueryResponse:
      type: object
      required: [series]
      properties:
        series:
          type: array
          items:
            $ref: "#/components/schemas/TimeseriesSeries"

    # ---------- Telemetry Ingest ----------
    IngestPoint:
      type: object
      required: [timestamp, system_id, signal_id, value]
      properties:
        timestamp:
          type: string
          format: date-time
        system_id:
          type: string
          example: engine:main:1
        signal_id:
          type: string
          description: Concrete signal identifier (expanded indices).
          example: engine.rotational_speed
        value:
          oneOf:
            - type: number
            - type: boolean

    IngestRequest:
      type: object
      required: [vessel_imo, points]
      properties:
        vessel_imo:
          type: string
        points:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/IngestPoint"

    IngestError:
      type: object
      required: [index, error_code, message]
      properties:
        index:
          type: integer
          description: Index of the point in the request's points array.
        error_code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    IngestResponse:
      type: object
      required: [accepted, inserted, updated, rejected, errors]
      properties:
        accepted:
          type: integer
        inserted:
          type: integer
        updated:
          type: integer
        rejected:
          type: integer
        errors:
          type: array
          items:
            $ref: "#/components/schemas/IngestError"

    # ---------- Limits ----------
    DownsampleCapabilities:
      type: object
      required: [supported, aggregation_supported, bucket_alignment]
      properties:
        supported:
          type: boolean
        aggregation_supported:
          type: boolean
        bucket_alignment:
          type: string
          enum: [UTC]

    TelemetryTimeseriesLimits:
      type: object
      required:
        - max_targets_per_request
        - max_points_per_series
        - max_total_points_per_response
        - max_time_range
        - downsample
      properties:
        max_targets_per_request:
          type: integer
        max_points_per_series:
          type: integer
        max_total_points_per_response:
          type: integer
        max_time_range:
          type: string
          description: ISO-8601 duration string representing maximum allowed query range.
          example: P90D
        downsample:
          $ref: "#/components/schemas/DownsampleCapabilities"

    LimitsResponse:
      type: object
      required: [telemetry_timeseries]
      properties:
        telemetry_timeseries:
          $ref: "#/components/schemas/TelemetryTimeseriesLimits"
